*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
    }
    html{
        // this define whats 1rem is;
        font-size: 62.5%;
    }
// @import "base/animations";



    /* Font definitions and size and colors */
    body{

        box-sizing:border-box;

    }
